[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uWSGI = "==2.0.18"

[packages]
django-environ = "==0.4.5"
django-rest-swagger = "==2.2.0"
djangorestframework = "==3.11.0"
django-celery-results = "==1.2.1"
psycopg2-binary = "==2.8.5"
redis = "==3.5.2"
celery = "==4.4.2"
python-scrapyd-api = "==2.1.2"
Django = "==3.0.6"
Pillow = "==7.1.2"

[requires]
python_version = "3.7"
