[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
uWSGI = "==2.0.19.1"

[packages]
Django = "==3.0.8"
django-environ = "==0.4.5"
djangorestframework = "==3.11.0"
django-celery-results = "==1.2.1"
django-service-objects = "==0.7.0"
psycopg2-binary = "==2.8.5"
redis = "==3.5.3"
celery = "==4.4.4"
python-scrapyd-api = "==2.1.2"
Pillow = "==8.2.0"
coverage = "==5.2.1"
drf-yasg = "==1.17.1"
future = "*"

[requires]
python_version = "3.8"

[packages.django-rest-auth]
extras = [ "with_social",]
version = "==0.9.5"
